*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace, 'Courier New', Courier;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    width: 100%;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
.nav-bar-links a,.logo{
    text-decoration: none;
    color: black;
}
.logo{
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 1px;
}
.search-cart{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.8rem;
}
.search-bar{
    /* width: 150px; */
    /* check on responsiveness of this input on auto, min-width */
    /* min-width: 50px; */
    width: 250px;
    padding: .4rem;
    outline: none;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #f4f4f4;
    font-size: 1.1rem;
    /* transition: all 0.45s ease-out 0s; */
}
/* .search-bar:focus{
    width: 250px;
    border: 2px solid green;
} */
.search-cart a i{
    cursor: pointer;
    color: black;
}
footer{
    margin-top: auto;
    text-align: center;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}